<a href="https://colab.research.google.com/github/Vamshidotcom/vamshi/blob/main/Pc3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."

In [2]:
len.__doc__

'Return the number of items in a container.'

In [3]:
def square(n):
    ''' Takes in a number n, returns the square of n'''
    return n**2

In [4]:
square.__doc__

' Takes in a number n, returns the square of n'

In [5]:
y = 7
def funct1():
  global y
  y = y + 1
  print(y)
print(y)

7

In [6]:
funct1()

8

In [7]:
y

8

In [8]:
def add_two(a,b) ->int:
    return a + b

In [9]:
add_two(4,5)

9

In [10]:
a :int = 20

In [11]:
a

20

In [12]:
a =30.5

In [13]:
a

30.5

In [14]:
def myfunct(*names):
  for i in names:
    print(f'hello {i}')

In [15]:
myfunct('peter','john',20,True)

hello peter
hello john
hello 20
hello True

In [16]:
def myfunct2(**item):
  for key,value in item.items():
    print(f'{key} is {value}')

In [17]:
myfunct2(name='peter',age=20)

name is peter
age is 20

In [20]:
n = list(range(20))
def even(x):
  return x % 2 == 0
list(map(even,n))

[True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False]

In [21]:
n = list(range(5))   #0,1,2,3,4
from functools import reduce
def add(x,y):
  return x + y

reduce(add,n)

10

In [23]:
n = list(range(20))
def is_even(x):
  return x % 2 == 0
print('filtered numbers' , list(filter(is_even,n)))

filtered numbers [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [2]:
from math import pi,sqrt
def r_square(r):
  return r * r
def area_circle(r,f,a):
  print('area of square ',f(r) * a[0])
  print('area of circle ',a(r) * a[1])
  print('area of hexagone ',f(r) *a[2])

In [8]:
a = lambda x : x*x

In [9]:
a(5)

25

In [10]:
num1 = [1,2,3]
num2 = [2,4,5,6]
num3 = [1,2,3]

In [11]:
list(map(lambda x,y,z : x+y+z,num1,num2,num3))

[4, 8, 11]

In [12]:
b = lambda :'hello'

In [14]:
b()

'hello'

In [15]:
a = lambda x : x %2 == 0

In [16]:
a(4)

True

In [18]:
n = lambda x : f"{x} is even" if x % 2 == 0 else f"{x} is odd"
print(n(9))

9 is odd

In [19]:
class Person:
  def add_numbers(self,a,b):
    return a + b

In [20]:
p = Person()

In [21]:
p.add_numbers(4,5)

9